h1 {
    color: red;
}

body {
    background-color: grey;
    padding: 10px;
}
div { 
    max-width: 400px;
    background-color: lightgray;
    width: auto;
    margin: 15px auto;
    padding: 10px;
    text-align: center
}
.biografia {
    margin: auto
    max-width: 400px;
    height: 350px;
    text-align: justify;
}
.foto {
    border-color: red;
    width: 100px;
    height: 100px;
}
img{
    border-radius: 50%;
    border-color: red;
}